@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.page-container{
    position: relative;
    min-height: 100vh;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
#content-wrap{
    padding-bottom: 5rem; 
}